facade/src/test/java/eu/jpereira/trainings/designpatterns/structural/facade/service
facade/src/test/java/eu/jpereira/trainings/designpatterns/structural/facade/facade/A*
facade/src/main/java/eu/jpereira/trainings/designpatterns/structural/facade/service
facade/src/main/java/eu/jpereira/trainings/designpatterns/structural/facade/model
facade/src/main/java/eu/jpereira/trainings/designpatterns/structural/facade/Book*