factorymethod/src/test
factorymethod/src/main/java/eu/jpereira/trainings/designpatterns/creational/factorymethod/*Report.java
factorymethod/src/main/java/eu/jpereira/trainings/designpatterns/creational/factorymethod/ReportData.java